body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.header {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* So content appears on top */
}

.header-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-content {
   display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 20px 40px;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  text-align: center;
}

.header-content h1,
.header-content p,
.header-content h3 {
  margin-bottom: 16px;
  max-width: 700px;
}

.signIn-btn {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  cursor: pointer;
  transition: background 0.3s;
}

 .email-signup {
  display: flex;
  max-width: 700px;
  margin: auto;
  width: 100%;
}

.input-wrapper {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid #333;
  border-radius: 4px 4px 4px 4px;
  padding: 6px 12px 2px;
  background-color: rgba(28, 36, 51, 0.6);
}

.input-wrapper label {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 2px;
  pointer-events: none;
}

.input-wrapper input {
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: white;
  padding: 4px 0 6px;
  width: 100%;
}

/* Prevent browser autofill from changing colors */


.email-signup button {
  margin: 10px;
  padding: 20px;
  font-size: 16px;
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.email-signup button:hover {
  background-color: #c11119;
}
