:root {
    --primary-color: #e50914;

}

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #000;
    color: #999;
}

ul {
    list-style: none;
}

h1,h2,h3,h4 {
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

p {
    margin: 0.5rem 0;
}

img {
    width: 100%;
}

.showcase {
  position: relative;
  height: 100vh;
  background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/75b0ed49-75ab-4a63-bd45-37bc2c95cb73/web/US-en-20250623-TRIFECTA-perspective_b69e63a6-20f5-4944-a09a-a891ecd0a3d3_large.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  z-index: 1;
}

.showcase::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6); /* Dark overlay for readability */
  z-index: -1;
}

.showcase-top {
    position: relative;
    height: 90px;
}

.default-ltr-cache-1d568uk {
    width: 9.25rem;
    height: 2.5rem;
    color: rgb(229, 9, 20);
    fill: currentColor;
    display: block;
}

